<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="../static/css/source.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<!-- <script type="text/javascript" src='../static/js/index.js'> </script> -->
	</head>
	<body class="loggedin">
		<script src="{{ url_for('static', filename='../static/js/index.js') }}"></script>
		<script>
			var time = {{ timer|tojson}}
			refreshData(time);
			// window.setInterval(myPopUp({{ timer|tojson }}), 5000);
		</script>
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('signout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>